.stre-ch-page {
    --bg: black;
    --fg: #ffff00;
}
.div-full-frame {
    background: var(--bg);
    color: var(--fg);
}
.section-center {
    display: flex;
    flex-direction: column;
}
.div-begin {
    position: relative;
    margin: 0 auto;
    height: 90vh;
    width: 90vh;
    max-width: 90vw;
    border-radius: 50%;
}
/* BUTTON */
.btn-begin-exercise {
    top: 0;
    height: 90vh;
    width: 90vh;
    max-width: 90vw;
    border-radius: 50%;
}
/* Sets the containers height and width */
.base-timer {
    position: relative;
    margin: 0 auto;
    height: 90vh;
    width: 90vh;
    max-width: 90vw;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
fill: none;
stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
stroke-width: 7px;
stroke: var(--grey);
}
.base-timer__label {
    color: var(--fg);
    position: absolute;
    
    /* Size should match the parent container */
    height: 90vh;
    width: 90vh;
    max-width: 90vw;
    
    /* Keep the label aligned to the top */
    top: 0;
    
    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 2rem;
}

.ol-exercise-description {
    color: var(--fg2);
    line-height: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0.2rem 0.2rem 0.5rem black;
}